.feynman {
  margin: 0;
  padding: 100px 0 0 0;
  background-color: #f2f2f2;
  position: relative;
  min-height: 790px;

  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}
