.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* стили для блока header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  background-color:  #f2f2f2;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color:  #2f80ed;
  color: #f2f2f2;
}

.header__link:active {
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -2;
}

/*------------------------------------------------*/

/* стили для блока logo */

.logo {
  margin: 0;
  padding: 0;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 3;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

/*------------------------------------------------*/

/* стили для блока description */

.description {
  margin: 0;
  padding: 100px 0 0 0;
}

/*------------------------------------------------*/

/* стили для блока two-columns */

.two-columns {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}
/*------------------------------------------------*/

/* стили для блока digits */

.digits {
  margin: 0;
  padding: 100px 0 100px 0;
}

/*------------------------------------------------*/

/* стили для блока section-title */

.section-title {
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
}

/*------------------------------------------------*/

/* стили для блока section-subtitle */

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

/*------------------------------------------------*/

/* стили для блока table */

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table_theme_dark {
  color: white;
  counter-reset: heading;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__cell_theme_dark::before {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  counter-increment: heading;
  content: counter(heading);
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
}

/*------------------------------------------------*/

/* стили для блока freyman */

.feynman {
  margin: 0;
  padding: 100px 0 0 0;
  background-color: #f2f2f2;
  position: relative;
  min-height: 790px;

  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px 0 0 0;
  padding: 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #2f80ed;
  color: #f2f2f2;
}

.feynman__link:active {
  opacity: .5;
}

/*------------------------------------------------*/

/* стили для блока kaufman */

.kaufman {
  margin: 0;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

/*------------------------------------------------*/

/* стили для блока footer */

.footer {
  margin: 0;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: content;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__column-link:active {
  opacity: .5;
}


.footer__social-icon {
  margin: 0;
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
/*------------------------------------------------*/
